.fixture_titulo{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:15pt
}

.fixture_titulo1{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:13pt
}

.fixture_paginado{
	font-family:Verdana, Geneva, sans-serif;
	font-weight: normal;
	font-size:10pt
}
.fixture_color_0{
 	color:#DD2C8D;
}

.fixture_color_1{
 	color:#229800;
}

.fixture_color_2{
 	color:#FFA400;
}

.fixture_color_gris{
 	color:#000;	
}
#fixture_nro_partido{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:55pt;
	width:40px;
	height:90px;
	left:33px;
	top:10px;
	position:relative;
	
}
#fixture_sede{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	font-size:10pt;
	width:80px;
	height:20px;
	left:110px;
	top:-58px;
	position:relative;
	float:left;
	text-align:left;	
}

#fixture_cancha{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	font-size:10pt;
	width:20px;
	height:20px;
	left:185px;
	top:-58px;
	position:relative;
	float: left;
}

#fixture_equipo1{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	/*font-size:15pt;*/
	width:200px;
	height:20px;
	left:200px;
	top:-70px;
	position:relative;
	float: left;
	text-align:left;	
}

#fixture_resultado1{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	font-size:20pt;
	width:20px;
	height:20px;
	left:220px;
	top:-76px;
	position:relative;
	float: left;
}

#fixture_resultado10{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	font-size:20pt;
	width:20px;
	height:20px;
	left:210px;
	top:-76px;
	position:relative;
	float: left;
}
#fixture_horaPartido{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	font-size:15pt;
	width:100px;
	height:20px;
	left:-210px;
	top:-25px;
	position:relative;
	float:left;
	text-align:left;	
}

#fixture_fechaPartido{
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	font-size:10pt;
	width:80px;
	height:20px;
	left:-210px;
	top:-18px;
	position:relative;
	float: left;
}

#fixture_equipo2{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	/*font-size:15pt;*/
	width:200px;
	height:20px;
	left:300px;
	top:-45px;
	position:relative;
	float: left;
	text-align:left;	
}

#fixture_resultado2{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	font-size:20pt;
	width:20px;
	height:20px;
	left:320px;
	top:-56px;
	position:relative;
	float: left;
}

#fixture_resultado20{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:normal;
	font-size:20pt;
	width:20px;
	height:20px;
	left:310px;
	top:-56px;
	position:relative;
	float: left;
}
#fixture_titulo{
	position:relative;
	height:50px;
	width:200px;
	left:40px;
	top:20px;
	float:left;
}
#fixture_paginas{
	position:relative;
	float: right;
	top:25px;
	right:40px
}

	
#fixture_0 {
   background-image:url(../img/fixture/fixture_fecha_0.jpg);
   background-repeat: no-repeat;
   width:572px;
   height:52px;
   float:left; 
   margin-left:32px;
   margin-top:4px;	   
}

#fixture_1 {
   background-image:url(../img/fixture/fixture_fecha_1.jpg);
   background-repeat: no-repeat;
   width:572px;
   height:52px;
   float:left; 
   margin-left:32px;
   margin-top:4px;	   
}

#fixture_2 {
   background-image:url(../img/fixture/fixture_fecha_2.jpg);
   background-repeat: no-repeat;
   width:572px;
   height:52px;
   float:left; 
   margin-left:32px;
   margin-top:4px;	   
}

#partido_0 {
   background-image:url(../img/fixture/fixture_partido_0.jpg);
   background-repeat: no-repeat;
   width:560px;
   height:100px;
   float:left; 
   margin-left:29px;
   margin-top:10px;
   z-index:10;
}

#partido_1 {
   background-image:url(../img/fixture/fixture_partido_1.jpg);
   background-repeat: no-repeat;
   width:560px;
   height:100px;
   float:left; 
   margin-left:29px;
   margin-top:10px;
   z-index:10;
}

#partido_2 {
   background-image:url(../img/fixture/fixture_partido_2.jpg);
   background-repeat: no-repeat;
   width:560px;
   height:100px;
   float:left; 
   margin-left:29px;
   margin-top:10px;
   z-index:10;
}

#fixture_ant_0 {
   background-image:url(../img/fixture/fixture_ant_0.jpg);
   background-repeat: no-repeat;
   width:250px;
   height:33px;
   margin-left:40px;
   float:left;
}
#fixture_sig_0 {
   background-image:url(../img/fixture/fixture_sig_0.jpg);
   background-repeat: no-repeat;
   width:254px;
   height:33px;
   float: right; 
}

#fixture_ant_1 {
   background-image:url(../img/fixture/fixture_ant_1.jpg);
   background-repeat: no-repeat;
   width:250px;
   height:33px;
   margin-left:40px;
   float:left;
}

#fixture_sig_1 {
   background-image:url(../img/fixture/fixture_sig_1.jpg);
   background-repeat: no-repeat;
   width:254px;
   height:33px;
   float: right; 
}

#fixture_ant_2 {
   background-image:url(../img/fixture/fixture_ant_2.jpg);
   background-repeat: no-repeat;
   width:250px;
   height:33px;
   margin-left:40px;
   float:left;
}
#fixture_sig_2 {
   background-image:url(../img/fixture/fixture_sig_2.jpg);
   background-repeat: no-repeat;
   width:254px;
   height:33px;
   float: right; 
}
